/* Global stylesheet for the website*/

/* Body styling */
body {
  font-family: "VT323", monospace;
  text-align: center;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

/* Header styling */
header {
  background: #3e6e91; 
  display: flex;
  flex-direction: column;
  padding: 0; 
  text-align: left;
}

/* Main title styling inside the header */
header h1 {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

/* Subtitle styling inside the header */
header h2 {
  background: #448fc5;
  color: white;
  font-size: 22px;
  width: 100%;
  margin: 0;   
  padding: 30px 30px; 
}

/* Navigation bar styling */
nav ul {
  list-style: none;
  background: #3e6e91;
  display: flex;
  font-size: 22px;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Style for individual page links */
nav a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 20px;
}

/* Effect for when user hovers over the page links*/
nav a:hover {
  background: #355a74;
}