/* Minecraft category stylesheet*/

/* Main container that holds the content of the quiz */
.quiz-container {
    text-align: center;
    width: 800px;
    padding: 20px;
    margin: 40px auto;
  }
  
/* Container for the questions text */
.question-container {
    font-size: 30px;
    margin: 100px;
}

/* Container for category buttons and quiz buttons */
.quiz-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}

/* Container that holds the answer buttons*/
#answer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 600px;
    margin: 0 auto;
}

/* Universal Style for the main button elememts*/
.btn {
    background-color: #3e6e91;
    color: white;
    font-family: "VT323", monospace;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    width: 100%;
    padding: 20px;
}

/* Specific style for the category and quiz selection buttons */
.quiz-btn {
    font-size: 30px;
    border-radius: 10px;
  }
  
/* Specific style for the buttons at the start and end pages of the quiz*/
.start-end-btn {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 50px;               
    margin-top: 40px;
}

/* Effects for when user hovers over buttons*/
.btn:hover{
    background-color: #355a74;
    transform: scale(1.05);
}
 
/* Style for the picture options - used for the picture-choice questions*/
.picture-option {
    display: block;
    width: 75%;
    border-radius: 8px;
}
  
/* Effects for when user hovers over the images */
.picture-option:hover {
    transform: scale(1.05);
}