<aside class="sidebar">
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Home</a>
        <a href="/leaderboard.html">Leaderboard</a>
        <div id="nav-auth">
            <a href="/login.html">Login</a>
        </div>
        <!-- add link to the quizes categotry andor hte quiz beginning page-->>
      </div>


    
      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
        <h2>Collapsed Sidebar</h2>
        <p>Content...</p>
      </div>
</aside>